html {
  display: flex;
  background-image: "https://th.bing.com/th/id/R.8b3b943f0d3a2a5c3b35f7dc8e9959e2?rik=gR1xR%2fBFyu55HQ&pid=ImgRaw&r=0";
}

#username {
  border: none;
  padding: 1px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 6px -29px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.home-gap {
  width: 816px;
  height: 200px;
  margin-right: 20px;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: #b71cbb;
  color: #ffffff;
  box-shadow: 0 0 0 0px #000000 inset;
  margin: 10px;
}

button:hover {
  transform: translateY(-2px);
}

.home_container {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}
