nav {
  display: flex;
  background-color: #f6f6f6;
  justify-content: space-between;
  width: 100vw;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  margin-bottom: 10%;
}

.logo {
  font-size: large;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.linkContainer > a {
  margin: 0 20px;
}

/* Home CSS */
nav > div > a > img {
  width: 30px;
}

.navbar-image {
  margin-top: 14px;
  /* margin-right: 10px; */
  padding: 2px;
}

@media screen and (max-width: 1024px) {
  nav {
    font-size: 10px;
    display: flex;
    background-color: #f6f6f6;
    justify-content: space-between;
    width: 100vw;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
      rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    margin-bottom: 10%;
  }

  .App {
    align-content: "center";
    width: "100vw";
    height: "100vh";
  }

  .logo {
    font-size: 10px;
    font-weight: 900;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .loop_logo {
    height: 50px;
    width: 300px;
  }

  .home_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin: 200px 500px; */
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    gap: 380px;
    width: 500px;
    height: 250px;
    margin-left: 200px;
  }
}
