.frame {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 640px;
  height: 317px;
}

.bpm {
  background-color: rgba(255, 255, 255, 0.219);
  width: fit-content;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  max-height: 30px;
  margin: 0 auto;
  margin-top: 10px;
}
.drumcontainer {
  display: grid;
  justify-content: center;
}
#drumtitle {
  margin-left: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bpm-slider {
  display: inline;
}
