.app{
  display: flex
}

.drums{
  display: flex;
}
.qrow{
  display: flex;
margin-left: 4%;
}
.arow{
  display: flex;
  margin-left: 6.5%;

}

.zrow{
  display: flex;
margin-left: 11.5%;
}

.keys{
  background-color: cadetblue;
border: solid 1px black;
margin:2px;
padding: 10px;
height: 30px;
width: 30px;

}